*{
    margin:0;
    padding: 0;

}

html,body{
    height:100%;
    width:100%;

}

body{
    background-color:#7f7f7f;
    display:flex;
    align-items:center;
    justify-content:center;
}


#container{
height:400px;
position:relative;
width:20%;
background-color:red;
border-radius:10px;
}

#container img{
    height:100%;
    border-radius: 10px;
    width:100%;
 object-fit:cover;
 object-position: top;
    }
    
#container i{
    color:white;
    font-size: 70px;
    position: absolute;
    left:50%;
    top: 50%;
    transform:translate(-50%,-50%)scale(0);
    opacity:0.8;
    transition:all ease 0.3s;
}
